<%= form_with(model: redirect, local: true) do |form| %>
  <% if redirect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(redirect.errors.count, "error") %> prohibited this redirect from being saved:</h2>

      <ul>
      <% redirect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :regex %>
    <%= form.text_field :regex, id: :redirect_regex %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result, id: :redirect_result %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :redirect_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
